{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "baseUrl": "./src",
    "paths": {
      "~/*": ["src/*"]
    }
  },
  "exclude": [".*.test.*", ".*.spec.*"]
}
